<input type="text" #filterName placeholder="Filter name"> 
<button (click)="saveFilter(filterName.value, tree)">Save filter</button>
<p>
<tree-root
  #tree
  [nodes]="nodes"
  [options]="treeOptions"
  (onActivate)="selectNode($event)">

  <ng-template #treeNodeTemplate let-node="node" let-index="index" >
    <input
      (change)="check( node, $event)"
      type="checkbox"
      [indeterminate]="node.data.indeterminate"
      [checked]="node.data.checked">

      {{ node.data.name }}
  </ng-template>
</tree-root>